.cell {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  -webkit-box-shadow: 7px 5px 15px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 7px 5px 15px 5px rgba(0, 0, 0, 0.25);
  height: 250px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: cover;

  .cell__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    opacity: 0;
    transition: .6s ease;

    .cell__title {
      display: block;
      user-select: none;
      -webkit-user-select: none;
      font-weight: 500;
      font-size: 22px;
      margin: 5px auto;
      padding: 0;
      color: #fff;
      text-shadow: 5px 5px 12px rgba(0, 0, 0, 1);
    }

    .cell__links {
      display: flex;
      margin-top: auto;
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 40px;
      border-top: 1px solid rgba(255, 255, 255, 0.7);
      align-items: center;
      justify-content: space-between;

      .stack {
        display: flex;
        margin-left: 10px;
        gap: 7px;

        i {
          color: #dcdcdc;
        }
      }

      .links {
        display: flex;
        gap: 10px;
        margin-right: 10px;
      }

      a {
        display: block;

        i {
          color: rgba(219, 217, 232, .7);
          text-shadow: 5px 5px 12px rgba(0, 0, 0, 1);
          transition: .3s;

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .cell {
    width: 23.3rem;

    .cell__wrapper {
      opacity: 1;
    }
  }
}
