@font-face {
  font-family: Incompleeta;
  src: url('../../fonts/IncompleetaRegular.ttf');
}

.header {
  display: flex;
  flex-direction: column;

  .title {
    font-family: 'Incompleeta', sans-serif;
    width: 160px;
    padding: 0;
    margin: 0;
    letter-spacing: 5px;

    a {
      user-select: none;
      -webkit-user-select: none;
      color: #CC2D42;
      text-shadow: 8px -8px 1px rgba(17, 22, 126, 0.79);
      text-decoration: none;
    }
  }

  .border {
    margin-top: 40px;
    width: 90px;
    height: 1px;
    background-color: rgba(219, 217, 232, .2);
  }
}
