.portfolio {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 400px);
  grid-auto-rows: 250px;
  gap: 10px;
  z-index: -1;

  .cell {
    color: whitesmoke;
    height: 250px;
  }
}


@media only screen and (min-width: 300px) and (max-width: 767px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

