@font-face {
  font-family: Incompleeta;
  src: url('../../assets/fonts/IncompleetaRegular.ttf');
}

.header {
  display: flex;
  flex-direction: column;
  z-index: 10;

  .title {
    font-family: 'Incompleeta', sans-serif;
    width: 160px;
    padding: 0;
    margin: 0;
    letter-spacing: 5px;
    transition: 0.5s;

    a {
      user-select: none;
      -webkit-user-select: none;
      color: #CC2D42;
      text-shadow: 8px -8px 1px rgba(17, 22, 126, 0.79);
      text-decoration: none;
    }
  }

  .title_hide {
    opacity: 0;

    a {
      display: none;
    }
  }

  .menu {
    display: none;
    font-size: 2.4rem;
    color: rgba(219, 217, 232, .8);
  }

  .border {
    margin-top: 40px;
    width: 90px;
    height: 1px;
    background-color: rgba(219, 217, 232, .2);
  }
}

@media only screen and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #100C31;
    width: 100%;
    height: 45px;
    align-items: center;

    .title {
      margin-left: .5rem;
      font-size: 1.6rem;
      width: fit-content;
    }

    .menu {
      display: none;
      font-size: 2.2rem;
      color: rgba(219, 217, 232, .8);
      margin-right: .5rem;
      position: absolute;
      right: 0;
    }

    .border {
      display: none;
    }
  }
}
