.icons {
  margin-right: .5rem;
  color: rgba(219, 217, 232, .8)
}

.active_drawer {
  font-family: "Poppins", sans-serif;
  display: flex;
  color: #D1ED42;
  text-decoration: none;
  letter-spacing: 1px;
  transition: .5s ease;
}

.inactive_drawer {
  font-family: "Poppins", sans-serif;
  display: block;
  color: rgba(219, 217, 232, .8);
  text-decoration: none;
  letter-spacing: 1px;
  transition: .5s ease;

  &:hover {
    color: #D1ED42;
  }
}