.container {
  position: relative;
  font-family: 'Lucida Grande', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  transform: scale(140%) translateY(-5%);

  canvas {
    display: block;
  }

  .header__container {
    position: absolute;
    left: 34%;
    top: 45%;

    .header {
      font-size: 1.5rem;
      color: white;
      margin: 0 auto;
      z-index: 999;
      line-height: .1rem;
    }

    .header__desc {
      margin-left: 11rem;
      text-align: center;
      color: white;
      font-size: .7rem;
      line-height: 0.1rem;
    }
  }

}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .container {
    transform: none;

    canvas {
    }

    .header__container {
      left: 0;
      top: 50%;
      width: 100%;

      .header {
        line-height: normal;
        text-align: center;
      }

      .header__desc {
        line-height: 0.3rem;
        text-align: center;
        margin: 0 auto;
        padding-right: .22rem;
        font-size: 12px;
      }
    }
  }
}
