#container {
  position: relative;
  font-family: 'Lucida Grande', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.1s;
  transform: scale(140%) translateY(-5%);

  canvas {
    display: block;
  }

  .header-container {
    position: absolute;
    left: 34%;
    top: 45%;

    h1 {
      font-size: 1.5rem;
      color: white;
      margin: 0 auto;
      z-index: 999;
      line-height: .1rem;
    }

    h2 {
      margin-left: 11rem;
      text-align: center;
      color: white;
      font-size: .7rem;
      line-height: 0.1rem;
    }
  }

}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  #container {
    transform: none;

    canvas {
    }
    .header-container {
      left: 0;
      top: 50%;
      width: 100%;

      h1 {
        line-height: normal;
        text-align: center;
      }

      h2 {
        line-height: normal;
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
      }
    }
  }
}
